.calculator input,
.cButtons   {
  font-family: 'Space Mono';
}

* {
    box-sizing: border-box;
  }

  body          {
    background: rgb(24, 24, 24);
    padding-bottom: 30px;
    padding-top: 30px;
  }
  
  .calculator .formstyle  {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 90px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: black;
  }

  .cButtons  {
    background: rgba(0, 0, 0, 1);
    border: 2px solid white;
    padding: 20px;
    color: #EEE;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
  }

  .calculator input   {
    background: none;
    border: solid 2px white;
    box-shadow: none;
    outline: none;

    margin-left: 11px;
    margin-top:15px;
    padding: 10px;
    width: 95%;
    color: #333;
    text-align: right;
    font-size: 40px;
    border-radius: 5px;
    color:black;
    background-color:white;
  }


  .calculatorButtons {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .calculatorButtons {
    grid-gap: 15px;
  }

.is-zero,
.is-clear   {
  grid-column: span 3;
}

.is-clear   {
  background: red;
}

.is-equals {
    background: red;
  }

.textview{
    width: 400px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
    background-color: lightgreen;
    }	
       