@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color:rgb(187, 222, 251);
    font-family: 'Roboto', sans-serif;
}

.bruh{
    background-color:rgb(227, 242, 253);
    margin-top:100px;
    margin-left:500px;
    margin-right:500px;
    padding-bottom:150px;
    padding-top:50px; 
    border-width:5px;
    border-color:rgb(2, 62, 138);
    font-family: 'Roboto', sans-serif;
}

.Validation{
    align-items:center;
    text-align:center;
    border:none;
    border-bottom:solid;
    background:none;
    margin-left:160px;
    margin-bottom:30px;
    font-family: 'Roboto', sans-serif;
    
}

.popcorn{
    background-color:lightcyan;
    border:solid 3px;
    padding:12px 40px;
    margin-left:172px;
    font-family: 'Roboto', sans-serif;
}